[submodule "paymasters/lib/forge-std"]
	path = paymasters/lib/forge-std
	url = https://github.com/foundry-rs/forge-std

[submodule "paymasters/lib/openzeppelin-contracts"]
	path = paymasters/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts

[submodule "zkdrop/contracts/lib/openzeppelin-contracts"]
	path = zkdrop/contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "zkdrop/contracts/lib/forge-std"]
	path = zkdrop/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "zkdrop/contracts/lib/sismo-connect-packages"]
	path = zkdrop/contracts/lib/sismo-connect-packages
	url = https://github.com/sismo-core/sismo-connect-packages

## For Worldcoin
[submodule "paymasters/lib/world-id-contracts"]
	path = paymasters/lib/world-id-contracts
	url = https://github.com/worldcoin/world-id-contracts
	branch = 985aba6

## For Sismo
[submodule "sismo/lib/forge-std"]
	path = sismo/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "sismo/lib/openzeppelin-contracts"]
	path = sismo/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "sismo/lib/sismo-connect-packages"]
	path = sismo/lib/sismo-connect-packages
	url = https://github.com/sismo-core/sismo-connect-packages
