
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5vh 0px 5vh 0px;
    justify-content: space-between;
    gap: 7vh;
}

.grid {
    text-align: center;
}